.introducingHygieia {
  margin: 0;
}
.introducingHygieiaPoweringContainer {
  position: relative;
  line-height: 88px;
  font-weight: 800;
}
.heading1 {
  position: absolute;
  top: 175.21px;
  left: 80.49px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-112xl) var(--padding-0)
    var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-60xl);
  color: var(--color-white);
}
.outputOnlinepngtools20230 {
  position: absolute;
  top: 18.21px;
  left: 72.49px;
  width: 43px;
  height: 38px;
  object-fit: cover;
}
.hygieia {
  position: absolute;
  top: 30.21px;
  left: 146.49px;
  line-height: 25.6px;
}
.svgIcon {
  position: absolute;
  top: calc(50% - 365.09px);
  left: 203.08px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.more,
.svgIcon1 {
  position: relative;
}
.more {
  line-height: 25.6px;
}
.svgIcon1 {
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  margin-left: -0.32px;
}
.itemLearnMenuButton {
  position: absolute;
  top: 22.21px;
  left: 626.49px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-6xs) var(--padding-0) 8.59000015258789px;
  align-items: flex-end;
  justify-content: flex-start;
}
.svgIcon2 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  margin-left: -0.82px;
}
.itemDevelopersMenuButt {
  position: absolute;
  top: 22.21px;
  left: 246.49px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-6xs) 0.01000213623046875px 8.59000015258789px
    var(--padding-0);
  align-items: flex-end;
  justify-content: flex-start;
}
.svgIcon3 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  margin-left: -0.87px;
}
.itemEnterpriseMenuButto {
  position: absolute;
  top: 23.21px;
  left: 375.49px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-6xs) var(--padding-0) 8.59000015258789px;
  align-items: flex-end;
  justify-content: flex-start;
}
.svgIcon4 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  margin-left: -0.81px;
}
.itemCommunityMenuButton {
  position: absolute;
  top: 23.21px;
  left: 496.49px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-6xs) var(--padding-0) 8.59000015258789px;
  align-items: flex-end;
  justify-content: flex-start;
}
.buttonSwitchToDarkTheme,
.svgIcon5 {
  position: absolute;
  top: calc(50% - 365.29px);
  left: calc(50% + 549.47px);
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.svgIcon5 {
  top: calc(50% - 12px);
  left: calc(50% - 70.51px);
}
.languagesEn {
  position: relative;
  line-height: 19.2px;
}
.spanchakraText {
  position: absolute;
  top: calc(50% - 10.59px);
  left: calc(50% - 46.51px);
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 0.01999664306640625px 0.1900005340576172px
    var(--padding-5xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.link {
  position: absolute;
  top: calc(50% - 369.29px);
  left: 1329.47px;
  border-radius: var(--br-9xs);
  width: 153.02px;
  height: 32px;
  color: var(--color-gray-300);
}
.outputOnlinepngtools202301 {
  position: absolute;
  top: 46.21px;
  left: 59.49px;
  width: 68px;
  height: 37px;
  object-fit: cover;
}
.outputOnlinepngtools202302,
.outputOnlinepngtools202303 {
  position: absolute;
  top: 22.21px;
  left: 1154.49px;
  width: 587px;
  height: 571px;
  object-fit: cover;
  opacity: 0.8;
}
.outputOnlinepngtools202303 {
  top: 500.21px;
  left: 1080.49px;
  width: 661px;
  height: 287px;
}
.divframer64f1t2 {
  position: absolute;
  top: 0;
  left: calc(50% - 960px);
  background: linear-gradient(67.38deg, #56cfe1, #000);
  width: 1920px;
  height: 800px;
  overflow: hidden;
  color: var(--color-darkslategray-100);
  font-family: var(--font-inter);
}
.heading11 {
  position: absolute;
  top: 175.21px;
  left: 80.49px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-112xl) var(--padding-0)
    var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
}
.outputOnlinepngtools202304 {
  position: absolute;
  top: 19.21px;
  left: 62.49px;
  width: 57px;
  height: 50px;
  object-fit: cover;
}
.moreWrapper {
  width: 63.68000030517578px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 22.21px;
  left: 626.49px;
}
.communityWrapper,
.developersWrapper,
.enterpriseWrapper,
.hygieiaWrapper {
  width: 110.19000244140625px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 22.21px;
  left: 246.49px;
}
.communityWrapper,
.enterpriseWrapper,
.hygieiaWrapper {
  width: 80.19000244140625px;
  left: 149.49px;
}
.communityWrapper,
.enterpriseWrapper {
  width: 102.12999725341797px;
  top: 23.21px;
  left: 375.49px;
}
.communityWrapper {
  width: 111.19000244140625px;
  left: 496.49px;
}
.link1 {
  position: absolute;
  top: calc(50% - 369.29px);
  left: 1329.47px;
  border-radius: var(--br-9xs);
  width: 153.02px;
  height: 32px;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
}
.divframer64f1t21 {
  position: absolute;
  top: 0;
  left: calc(50% - 960px);
  background: linear-gradient(67.38deg, #665ee2, #000);
  width: 1920px;
  height: 800px;
  overflow: hidden;
  font-size: var(--font-size-60xl);
  font-family: var(--font-inter);
}
.divframerL4fk58Icon {
  position: absolute;
  height: 100%;
  width: calc(100% - 530px);
  top: 0;
  right: 530px;
  bottom: 0;
  left: 0;
  border-radius: var(--br-21xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.revolutionizeYourProtocolsContainer {
  position: relative;
  line-height: 38.4px;
  font-weight: 800;
}
.heading3 {
  position: absolute;
  top: -1px;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-5xs) 0.779998779296875px
    var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
}
.leverageTheFullContainer {
  position: relative;
  line-height: 24px;
}
.heading31 {
  position: absolute;
  top: 96.78px;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 15px var(--padding-0) var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-base);
  font-family: var(--font-archivo);
}
.divframer19un3sn {
  position: absolute;
  top: calc(50% - 84.4px);
  left: calc(50% + 30px);
  width: 470px;
  height: 168.78px;
  overflow: hidden;
}
.divframerTcnceu {
  position: absolute;
  top: 100px;
  left: calc(50% - 500px);
  width: 1000px;
  height: 479.58px;
  overflow: hidden;
}
.heading32,
.heading33 {
  position: absolute;
  top: -1px;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 26px 0.779998779296875px var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
}
.heading33 {
  top: 96.78px;
  padding: var(--padding-0) 54px var(--padding-0) var(--padding-0);
  font-size: var(--font-size-base);
  font-family: var(--font-archivo);
}
.divframer1r4ux0k {
  position: absolute;
  top: calc(50% - 84.4px);
  left: calc(50% - 500px);
  width: 470px;
  height: 168.78px;
  overflow: hidden;
}
.divframerFfcig2Icon {
  position: absolute;
  height: 100%;
  width: calc(100% - 530px);
  top: 0;
  right: 0;
  bottom: 0;
  left: 530px;
  border-radius: var(--br-21xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.divframer1gv355n,
.divframer1zv4rq {
  position: absolute;
  top: 639.58px;
  left: calc(50% - 500px);
  width: 1000px;
  height: 479.58px;
  overflow: hidden;
}
.divframer1gv355n {
  top: 1364px;
  left: calc(50% - 960px);
  background-color: #3e3c3c;
  width: 1920px;
  height: 1219.16px;
  font-size: var(--font-size-13xl);
  font-family: var(--font-inter);
}
.v8utg2j1g7ry8svbjcgip9qwu7spnIcon {
  position: absolute;
  height: calc(100% + 176px);
  width: calc(100% - 400px);
  top: -178px;
  right: -120px;
  bottom: 2px;
  left: 520px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.dapps {
  position: absolute;
  top: 3px;
  left: 0;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 48.97px;
  height: 17px;
}
.witnessThePowerContainer {
  position: relative;
  line-height: 60px;
  font-weight: 800;
}
.heading21 {
  position: absolute;
  top: 64px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-31xl);
  color: #fbf8cc;
  font-family: var(--font-inter);
}
.divframer133krgw,
.divframerDk2p3z {
  position: absolute;
  top: 100px;
  left: calc(50% - 500px);
  width: 1000px;
  height: 424px;
}
.divframerDk2p3z {
  top: 2583.16px;
  left: calc(50% - 960px);
  background-color: var(--color-black);
  width: 1920px;
  height: 624px;
  color: var(--color-skyblue);
}
.divframerF95jnuIcon {
  position: absolute;
  height: calc(100% - 182px);
  width: 100%;
  top: 0;
  right: 0;
  bottom: 182px;
  left: 0;
  border-radius: var(--br-21xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.heading22 {
  position: absolute;
  top: 4px;
  left: 0;
  letter-spacing: -0.5px;
  line-height: 30px;
  display: flex;
  align-items: center;
  width: 123.97px;
  height: 22px;
}
.empowerYourProjectsContainer {
  position: relative;
  line-height: 28px;
}
.heading34 {
  position: absolute;
  top: 40px;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 2.670013427734375px var(--padding-0)
    var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-paleturquoise-100);
}
.divframerUfpk7g {
  position: absolute;
  top: calc(50% + 92.34px);
  left: calc(50% - 153.34px);
  width: 306.67px;
  height: 152px;
}
.divframer2wtj6u {
  position: absolute;
  top: 0;
  left: calc(50% - 500px);
  width: 306.67px;
  height: 488.67px;
}
.heading23,
.heading35 {
  position: absolute;
  left: 0;
  display: flex;
}
.heading23 {
  top: 4px;
  letter-spacing: -0.5px;
  line-height: 30px;
  align-items: center;
  width: 233.04px;
  height: 22px;
}
.heading35 {
  top: 40px;
  flex-direction: row;
  padding: var(--padding-0) 6.670013427734375px var(--padding-0)
    var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-paleturquoise-100);
}
.divframer1n6g3v9 {
  position: absolute;
  top: 0;
  left: calc(50% - 153.33px);
  width: 306.67px;
  height: 488.67px;
}
.heading24,
.heading36 {
  position: absolute;
  left: 0;
  display: flex;
}
.heading24 {
  top: 4px;
  letter-spacing: -0.5px;
  line-height: 30px;
  align-items: center;
  width: 155.65px;
  height: 22px;
}
.heading36 {
  top: 40px;
  flex-direction: row;
  padding: var(--padding-0) 30.670013427734375px var(--padding-0)
    var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-paleturquoise-100);
}
.divframerM8tyzb {
  position: absolute;
  top: 0;
  left: calc(50% + 193.34px);
  width: 306.67px;
  height: 488.67px;
}
.divframerH1r706 {
  position: absolute;
  top: calc(50% - 244.33px);
  left: calc(50% - 500px);
  width: 1000px;
  height: 488.67px;
  overflow: hidden;
}
.divframerIfoed5 {
  position: absolute;
  top: 3207.16px;
  left: calc(50% - 960px);
  background-color: var(--color-black);
  width: 1920px;
  height: 688.67px;
  overflow: hidden;
  font-size: var(--font-size-xl);
  color: var(--color-thistle);
}
.pmmvryu8f044fki424pttrbespngIcon {
  position: absolute;
  height: calc(100% + 236px);
  width: calc(100% - 400px);
  top: 36.21px;
  right: -242.49px;
  bottom: -272.21px;
  left: 642.49px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.heading25,
.welcome {
  position: absolute;
  display: flex;
}
.welcome {
  top: 3px;
  left: 0;
  line-height: 24px;
  align-items: center;
  width: 66.59px;
  height: 17px;
}
.heading25 {
  top: 64px;
  left: -116px;
  flex-direction: row;
  padding: var(--padding-0) 4var (--padding-0) var(--padding-0) 0;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-31xl);
  color: var(--color-skyblue);
  font-family: var(--font-inter);
}
.divframerNqncs7 {
  position: absolute;
  top: 97px;
  left: calc(50% - 500px);
  width: 1000px;
  height: 364px;
}
.divframer1symrmf {
  position: absolute;
  top: 800.21px;
  left: calc(50% - 959.51px);
  background-color: var(--color-black);
  width: 1920px;
  height: 564px;
  color: var(--color-paleturquoise-200);
}
.explore {
  position: absolute;
  top: 3px;
  left: 0;
  letter-spacing: -0.4px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 56.91px;
  height: 17px;
}
.features {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  color: inherit;
}
.divframer1qq6lrn {
  position: absolute;
  top: 39px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  color: var(--color-aquamarine);
}
.company,
.divframer1qxg16 {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 131px;
}
.company {
  top: 3px;
  letter-spacing: -0.4px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 70.81px;
  height: 17px;
}
.divframerHejsyf,
.legal {
  position: absolute;
  top: 0;
  left: 340px;
  width: 300px;
  height: 131px;
}
.legal {
  top: 3px;
  left: 0;
  letter-spacing: -0.4px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 40.52px;
  height: 17px;
}
.divframer1fsrbvm {
  position: absolute;
  top: 0;
  left: 680px;
  width: 300px;
  height: 131px;
}
.divframer2a86q1 {
  position: absolute;
  top: calc(50% - 107.5px);
  left: calc(50% - 500px);
  width: 1000px;
  height: 131px;
}
.hygieiaBlockchainAll {
  position: absolute;
  top: 3px;
  left: 0;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 329.43px;
  height: 17px;
}
.divframer19w3k9nIcon {
  position: relative;
  width: 20px;
  height: 20px;
}
.divframerBfl1x7 {
  position: absolute;
  top: calc(50% - 10px);
  left: 950px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.divframer19z5w59 {
  position: absolute;
  top: calc(50% + 83.5px);
  left: calc(50% - 500px);
  width: 1000px;
  height: 24px;
  color: var(--color-aquamarine);
}
.pseudo {
  position: absolute;
  top: 0;
  left: 0;
  border-top: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 1920px;
  height: 415px;
}
.divframer72rtr7,
.footer {
  background-color: var(--color-black);
}
.footer {
  position: absolute;
  top: 3895.83px;
  left: calc(50% - 960px);
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 1920px;
  height: 415px;
  color: var(--color-paleturquoise-200);
}
.divframer72rtr7 {
  position: relative;
  width: 100%;
  height: 4310.83px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-archivo);
}
@media screen and (max-width: 1200px) {
  .divframer72rtr7 {
    width: 1920px;
  }
}
@media screen and (max-width: 960px) {
  .divframer72rtr7 {
    width: 1920px;
  }
}
@media screen and (max-width: 420px) {
  .divframer72rtr7 {
    width: 960px;
    height: 2155px;
  }
}
