.znv0bqwznem81muxx9hbbsnxuyipnIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  opacity: 0.5;
}
.divframerHt7xcv {
  position: absolute;
  top: 100px;
  right: 220px;
  width: 600px;
  height: 600px;
  overflow: hidden;
}
.introducingHygieia {
  margin: 0;
}
.introducingHygieiaPoweringContainer {
  position: relative;
  line-height: 88px;
  font-weight: 800;
}
.heading1,
.moreDropdown {
  display: flex;
  position: absolute;
}
.heading1 {
  top: 436px;
  left: 220px;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-112xl) var(--padding-0)
    var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
}
.moreDropdown {
  width: 164px;
  flex-direction: column;
  top: 84px;
  left: 1226px;
}
.communityDropdown,
.developersDropdown,
.enterpriseDropdown,
.hygieiaDropdown {
  width: 164px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 84px;
  left: 982px;
}
.developersDropdown,
.enterpriseDropdown,
.hygieiaDropdown {
  left: 729px;
}
.developersDropdown,
.hygieiaDropdown {
  left: 456px;
}
.hygieiaDropdown {
  left: 220px;
}
.outputOnlinepngtools20230 {
  position: absolute;
  top: 35px;
  left: 25px;
  width: 147px;
  height: 129px;
  object-fit: cover;
}
.divframer64f1t2 {
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  background: linear-gradient(60.95deg, #cfbaf0, #000);
  width: 1440px;
  height: 800px;
  overflow: hidden;
  font-size: var(--font-size-60xl);
  font-family: var(--font-inter);
}
.pmmvryu8f044fki424pttrbespngIcon,
.xpiwrtlavamppkkjn1i85tceepngIcon,
.zfgrpcbda1d4rifwbndnwstrapngIcon {
  position: absolute;
  height: calc(100% - 414.38px);
  width: calc(100% - 400px);
  top: 231px;
  right: -160px;
  bottom: 183.38px;
  left: 560px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.xpiwrtlavamppkkjn1i85tceepngIcon,
.zfgrpcbda1d4rifwbndnwstrapngIcon {
  height: calc(100% - 602.91px);
  width: calc(100% - 577px);
  top: 0;
  right: 577px;
  bottom: 602.91px;
  left: 0;
  opacity: 0.8;
}
.zfgrpcbda1d4rifwbndnwstrapngIcon {
  height: calc(100% - 855.47px);
  width: calc(100% - 634px);
  top: 451.47px;
  right: 634px;
  bottom: 404px;
}
.welcome {
  position: absolute;
  top: 653.38px;
  left: 0;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 66.59px;
  height: 17px;
}
.hygieiaIsTheContainer {
  position: relative;
  line-height: 60px;
  font-weight: 800;
}
.heading2 {
  position: absolute;
  top: 714.38px;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-21xl) var(--padding-0)
    var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-31xl);
  color: var(--color-paleturquoise-200);
  font-family: var(--font-inter);
}
.divframerNqncs7 {
  position: absolute;
  top: 100px;
  left: calc(50% - 500px);
  width: 1000px;
  height: 1014.38px;
}
.divframer1symrmf {
  position: absolute;
  top: 800px;
  left: calc(50% - 720px);
  background-color: var(--color-black);
  width: 1440px;
  height: 1214.38px;
  color: var(--color-skyblue);
}
.divframerL4fk58,
.kicah3yvwogvowj0vwwvb2l6evopnIcon {
  position: absolute;
  border-radius: var(--br-21xl);
  overflow: hidden;
}
.kicah3yvwogvowj0vwwvb2l6evopnIcon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.divframerL4fk58 {
  top: calc(50% - 239.79px);
  left: calc(50% - 500px);
  background-color: var(--color-gray-500);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  width: 470px;
  height: 479.58px;
  opacity: 0.69;
}
.revolutionizeYourProtocolsContainer {
  position: relative;
  line-height: 38.4px;
  font-weight: 800;
}
.heading3 {
  position: absolute;
  top: -1px;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-5xs) 0.779998779296875px
    var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
}
.leverageTheFullContainer {
  position: relative;
  line-height: 24px;
}
.heading31 {
  position: absolute;
  top: 96.78px;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-mini) var(--padding-0)
    var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-base);
  font-family: var(--font-archivo);
}
.divframer19un3sn {
  position: absolute;
  top: calc(50% - 84.4px);
  left: calc(50% + 30px);
  width: 470px;
  height: 168.78px;
  overflow: hidden;
}
.divframerTcnceu {
  position: absolute;
  top: 100px;
  left: calc(50% - 500px);
  width: 1000px;
  height: 479.58px;
  overflow: hidden;
}
.heading32,
.heading33 {
  position: absolute;
  top: -1px;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-7xl) 0.779998779296875px
    var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
}
.heading33 {
  top: 96.79px;
  padding: var(--padding-0) var(--padding-35xl) var(--padding-0)
    var(--padding-0);
  font-size: var(--font-size-base);
  font-family: var(--font-archivo);
}
.divframer1r4ux0k,
.divframerFfcig2 {
  position: absolute;
  top: calc(50% - 84.4px);
  left: calc(50% - 500px);
  width: 470px;
  height: 168.78px;
  overflow: hidden;
}
.divframerFfcig2 {
  top: calc(50% - 239.79px);
  left: calc(50% + 30px);
  border-radius: var(--br-21xl);
  height: 479.58px;
  opacity: 0.69;
}
.divframer1gv355n,
.divframer1zv4rq {
  position: absolute;
  top: 639.57px;
  left: calc(50% - 500px);
  width: 1000px;
  height: 479.58px;
  overflow: hidden;
}
.divframer1gv355n {
  top: 2014.38px;
  left: calc(50% - 720px);
  background-color: var(--color-black);
  width: 1440px;
  height: 1219.16px;
  font-size: var(--font-size-13xl);
  font-family: var(--font-inter);
}
.v8utg2j1g7ry8svbjcgip9qwu7spnIcon {
  position: absolute;
  height: calc(100% + 176px);
  width: calc(100% - 400px);
  top: -127.53px;
  right: -203px;
  bottom: -48.47px;
  left: 603px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.dapps,
.heading21 {
  position: absolute;
  left: 0;
  display: flex;
}
.dapps {
  top: 3px;
  line-height: 24px;
  align-items: center;
  width: 48.97px;
  height: 17px;
}
.heading21 {
  top: 64px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-31xl);
  color: var(--color-thistle-100);
  font-family: var(--font-inter);
}
.divframer133krgw,
.divframerDk2p3z {
  position: absolute;
  top: 100px;
  left: calc(50% - 500px);
  width: 1000px;
  height: 424px;
}
.divframerDk2p3z {
  top: 3233.53px;
  left: calc(50% - 720px);
  background-color: var(--color-black);
  width: 1440px;
  height: 624px;
  color: var(--color-lemonchiffon);
}
.divframerF95jnu {
  position: absolute;
  top: calc(50% - 244.34px);
  left: calc(50% - 153.34px);
  border-radius: var(--br-21xl);
  width: 306.67px;
  height: 306.67px;
  overflow: hidden;
  opacity: 0.58;
}
.heading22 {
  position: absolute;
  top: 4px;
  left: 0;
  letter-spacing: -0.5px;
  line-height: 30px;
  display: flex;
  align-items: center;
  width: 123.97px;
  height: 22px;
}
.empowerYourProjectsContainer {
  position: relative;
  line-height: 28px;
}
.heading34 {
  position: absolute;
  top: 40px;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 2.670013427734375px var(--padding-0)
    var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
}
.divframerUfpk7g {
  position: absolute;
  top: calc(50% + 92.34px);
  left: calc(50% - 153.34px);
  width: 306.67px;
  height: 152px;
}
.divframer2wtj6u {
  position: absolute;
  top: 0;
  left: calc(50% - 500px);
  width: 306.67px;
  height: 488.67px;
}
.divframer195xxgr {
  position: absolute;
  top: calc(50% - 244.34px);
  left: calc(50% - 153.34px);
  border-radius: var(--br-21xl);
  width: 306.67px;
  height: 306.67px;
  overflow: hidden;
  opacity: 0.6;
}
.heading23,
.heading35 {
  position: absolute;
  left: 0;
  display: flex;
}
.heading23 {
  top: 4px;
  letter-spacing: -0.5px;
  line-height: 30px;
  align-items: center;
  width: 233.04px;
  height: 22px;
}
.heading35 {
  top: 40px;
  flex-direction: row;
  padding: var(--padding-0) 6.670013427734375px var(--padding-0)
    var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
}
.divframer1n6g3v9 {
  position: absolute;
  top: 0;
  left: calc(50% - 153.33px);
  width: 306.67px;
  height: 488.67px;
}
.divframerH9016g {
  position: absolute;
  top: calc(50% - 244.34px);
  left: calc(50% - 153.34px);
  border-radius: var(--br-21xl);
  width: 306.67px;
  height: 306.67px;
  overflow: hidden;
  opacity: 0.52;
}
.heading24,
.heading36 {
  position: absolute;
  left: 0;
  display: flex;
}
.heading24 {
  top: 4px;
  letter-spacing: -0.5px;
  line-height: 30px;
  align-items: center;
  width: 155.65px;
  height: 22px;
}
.heading36 {
  top: 40px;
  flex-direction: row;
  padding: var(--padding-0) 30.670013427734375px var(--padding-0)
    var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
}
.divframerM8tyzb {
  position: absolute;
  top: 0;
  left: calc(50% + 193.34px);
  width: 306.67px;
  height: 488.67px;
}
.divframerH1r706 {
  position: absolute;
  top: calc(50% - 244.33px);
  left: calc(50% - 500px);
  width: 1000px;
  height: 488.67px;
  overflow: hidden;
}
.divframerIfoed5 {
  position: absolute;
  top: 3857.53px;
  left: calc(50% - 720px);
  background-color: var(--color-skyblue);
  width: 1440px;
  height: 688.67px;
  overflow: hidden;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.explore {
  position: absolute;
  top: 3px;
  left: 0;
  letter-spacing: -0.4px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 56.91px;
  height: 17px;
}
.features {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  color: inherit;
}
.divframer1qq6lrn {
  position: absolute;
  top: 39px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  color: var(--color-aquamarine);
}
.company,
.divframer1qxg16 {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 131px;
}
.company {
  top: 3px;
  letter-spacing: -0.4px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 70.81px;
  height: 17px;
}
.divframerHejsyf,
.legal {
  position: absolute;
  top: 0;
  left: 340px;
  width: 300px;
  height: 131px;
}
.legal {
  top: 3px;
  left: 0;
  letter-spacing: -0.4px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 40.52px;
  height: 17px;
}
.divframer1fsrbvm {
  position: absolute;
  top: 0;
  left: 680px;
  width: 300px;
  height: 131px;
}
.divframer2a86q1 {
  position: absolute;
  top: calc(50% - 107.5px);
  left: calc(50% - 500px);
  width: 1000px;
  height: 131px;
}
.hygieiaFoundationAll {
  position: absolute;
  top: 3px;
  left: 0;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 331.68px;
  height: 17px;
}
.divframer19w3k9nIcon {
  position: relative;
  width: 20px;
  height: 20px;
}
.divframerBfl1x7 {
  position: absolute;
  top: calc(50% - 10px);
  left: 950px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.divframer19z5w59 {
  position: absolute;
  top: calc(50% + 83.5px);
  left: calc(50% - 500px);
  width: 1000px;
  height: 24px;
  color: var(--color-aquamarine);
}
.pseudo {
  position: absolute;
  top: 0;
  left: 0;
  border-top: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 1440px;
  height: 415px;
}
.footer,
.laptop {
  background-color: var(--color-black);
}
.footer {
  position: absolute;
  top: 4546.2px;
  left: calc(50% - 720px);
  width: 1440px;
  height: 415px;
  color: var(--color-paleturquoise-200);
}
.laptop {
  position: relative;
  width: 100%;
  height: 4961.2px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-archivo);
}
