.znv0bqwznem81muxx9hbbsnxuyipnIcon {
  position: absolute;
  height: calc(100% - 163px);
  width: calc(100% - 153px);
  top: 152px;
  right: 77px;
  bottom: 11px;
  left: 76px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  opacity: 0.5;
}
.introducingHygieia {
  margin: 0;
}
.introducingHygieiaPoweringContainer {
  position: relative;
  line-height: 35.2px;
  font-weight: 800;
}
.heading1 {
  position: absolute;
  top: 200px;
  left: 52px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-7xs) 0.75px var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
}
.divframer64f1t2 {
  position: absolute;
  top: -75px;
  left: calc(50% - 195px);
  background: linear-gradient(44.27deg, #cfbaf0, #000);
  width: 390px;
  height: 400px;
  overflow: hidden;
  font-size: var(--font-size-7xl);
}
.xpiwrtlavamppkkjn1i85tceepngIcon,
.zfgrpcbda1d4rifwbndnwstrapngIcon {
  position: absolute;
  height: calc(100% - 499.29px);
  width: calc(100% - 26px);
  top: -69px;
  right: 4px;
  bottom: 568.29px;
  left: 22px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.zfgrpcbda1d4rifwbndnwstrapngIcon {
  height: calc(100% - 695.5px);
  width: calc(100% - 76px);
  top: 225px;
  right: 51px;
  bottom: 470.5px;
  left: 25px;
}
.welcome {
  position: absolute;
  top: 518.11px;
  left: 42px;
  line-height: 30px;
  display: flex;
  align-items: center;
  width: 83.18px;
  height: 22px;
}
.hygieiaIsTheContainer1 {
  line-break: anywhere;
  width: 100%;
}
.heading2,
.hygieiaIsTheContainer {
  width: 303px;
  height: 267px;
  display: flex;
}
.hygieiaIsTheContainer {
  position: relative;
  line-height: 38.4px;
  font-weight: 800;
  align-items: center;
  flex-shrink: 0;
}
.heading2 {
  position: absolute;
  top: 608px;
  left: 42px;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-8xs) 0.339996337890625px
    var(--padding-0);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-13xl);
  color: var(--color-paleturquoise-200);
  font-family: var(--font-inter);
}
.pmmvryu8f044fki424pttrbespngIcon {
  position: absolute;
  height: calc(100% - 600.45px);
  width: calc(100% - 136px);
  top: 357px;
  right: 26px;
  bottom: 243.45px;
  left: 110px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.divframerNqncs7 {
  position: absolute;
  top: 60px;
  left: calc(50% - 175px);
  width: 350px;
  height: 814.45px;
}
.divframer1symrmf {
  position: absolute;
  top: 325px;
  left: calc(50% - 195px);
  background-color: var(--color-black);
  width: 390px;
  height: 934.45px;
  font-size: var(--font-size-xl);
  color: var(--color-skyblue);
  font-family: var(--font-archivo);
}
.svg {
  position: absolute;
  top: 0;
  left: calc(50% - 175px);
  width: 350px;
  height: 18.09px;
}
.leverageTheFullContainer {
  position: relative;
  line-height: 24px;
}
.heading3 {
  position: absolute;
  top: 14.41px;
  left: 27px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-12xs) var(--padding-0)
    var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
}
.divframer19un3sn {
  position: absolute;
  top: calc(50% + 143.53px);
  left: calc(50% - 166px);
  width: 350px;
  height: 110.09px;
  overflow: hidden;
}
.divframerL4fk58,
.kicah3yvwogvowj0vwwvb2l6evopnIcon {
  position: absolute;
  border-radius: var(--br-xl);
  overflow: hidden;
}
.kicah3yvwogvowj0vwwvb2l6evopnIcon {
  height: calc(100% + 0.14px);
  width: 100%;
  top: 0;
  right: 0;
  bottom: -0.14px;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.divframerL4fk58 {
  top: calc(50% - 213.07px);
  left: calc(50% - 140px);
  background-color: var(--color-gray-500);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  width: 280px;
  height: 283px;
  opacity: 0.69;
}
.revolutionizeYourProtocolsContainer {
  position: relative;
  line-height: 38.4px;
  font-weight: 800;
  display: flex;
  align-items: center;
  width: 284px;
  height: 65px;
  flex-shrink: 0;
}
.heading5 {
  position: absolute;
  top: 340.55px;
  left: 42px;
  width: 284px;
  height: 65px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-51xl) 0.1699981689453125px
    var(--padding-0);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
}
.divframerTcnceu {
  position: absolute;
  top: 60px;
  left: calc(50% - 175px);
  width: 350px;
  height: 507.23px;
  overflow: hidden;
}
.endToEndDataExchangeContainer {
  position: relative;
  line-height: 38.4px;
  font-weight: 800;
}
.heading31,
.heading32 {
  position: absolute;
  top: -1px;
  left: 38px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-base) 0.1699981689453125px
    var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
}
.heading32 {
  top: 135.31px;
  padding: var(--padding-0) var(--padding-9xs) var(--padding-0) var(--padding-0);
  font-size: 12px;
  font-family: var(--font-archivo);
}
.divframer1r4ux0k {
  position: absolute;
  top: calc(50% - 302.15px);
  left: calc(50% - 175px);
  width: 350px;
  height: 207.17px;
  overflow: hidden;
}
.imageIcon {
  position: absolute;
  top: 247.31px;
  left: 33px;
  border-radius: var(--br-xl);
  width: 280px;
  height: 284px;
  object-fit: cover;
  opacity: 0.69;
}
.divframer1zv4rq {
  position: absolute;
  top: 627.24px;
  left: calc(50% - 175px);
  width: 350px;
  height: 604.31px;
  overflow: hidden;
  font-size: var(--font-size-7xl);
  font-family: var(--font-inter);
}
.divframer1gv355n {
  position: absolute;
  top: 1259.45px;
  left: calc(50% - 195px);
  background-color: var(--color-black);
  width: 390px;
  height: 1291.55px;
  overflow: hidden;
  font-size: 14px;
  font-family: var(--font-archivo);
}
.v8utg2j1g7ry8svbjcgip9qwu7spnIcon {
  position: absolute;
  height: calc(100% + 61.27px);
  width: calc(100% + 50px);
  top: -89px;
  right: -72px;
  bottom: 27.73px;
  left: 22px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.dapps,
.heading21 {
  position: absolute;
  left: 43px;
  display: flex;
}
.dapps {
  top: 4px;
  line-height: 30px;
  align-items: center;
  width: 61.15px;
  height: 22px;
}
.heading21 {
  top: 69px;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-8xs) 0.730010986328125px
    var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-5xl);
  color: var(--color-thistle-100);
  font-family: var(--font-inter);
}
.divframer133krgw,
.divframerDk2p3z {
  position: absolute;
  top: 60px;
  left: calc(50% - 175px);
  width: 350px;
  height: 338.73px;
}
.divframerDk2p3z {
  top: 2461px;
  left: calc(50% - 195px);
  background-color: var(--color-black);
  width: 390px;
  height: 458.73px;
  font-size: var(--font-size-xl);
  color: var(--color-lemonchiffon);
  font-family: var(--font-archivo);
}
.frameIcon {
  position: absolute;
  top: 10px;
  left: calc(50% - 49.5px);
  width: 10px;
  height: 10px;
}
.more {
  position: absolute;
  top: 2px;
  left: 0;
  line-height: 25.6px;
  font-weight: 500;
}
.moreDropdown {
  position: absolute;
  top: 17px;
  left: 263px;
  width: 139px;
  height: 29px;
}
.frameIcon1 {
  position: absolute;
  top: 10px;
  left: calc(50% - 25px);
  width: 10px;
  height: 10px;
}
.communityDropdown {
  position: absolute;
  top: 17px;
  left: 206px;
  width: 138px;
  height: 29px;
}
.frameIcon2 {
  position: absolute;
  top: 10px;
  left: calc(50% - 29px);
  width: 10px;
  height: 10px;
}
.enterpriseDropdown {
  position: absolute;
  top: 17px;
  left: 154px;
  width: 138px;
  height: 29px;
}
.frameIcon3 {
  position: absolute;
  top: 10px;
  left: calc(50% - 25.5px);
  width: 10px;
  height: 10px;
}
.developersDropdown {
  position: absolute;
  top: 17px;
  left: 96px;
  width: 139px;
  height: 29px;
}
.frameIcon4 {
  position: absolute;
  top: 10px;
  left: calc(50% - 40.5px);
  width: 10px;
  height: 10px;
}
.hygieiaDropdown {
  position: absolute;
  top: 17px;
  left: 53px;
  width: 139px;
  height: 29px;
}
.outputOnlinepngtools20230 {
  position: absolute;
  top: 10px;
  left: 4px;
  width: 44px;
  height: 39px;
  object-fit: cover;
}
.heading22 {
  position: absolute;
  top: 4px;
  left: 0;
  letter-spacing: -0.5px;
  line-height: 30px;
  display: flex;
  align-items: center;
  width: 123.97px;
  height: 22px;
}
.empowerYourProjectsContainer {
  position: relative;
  line-height: 28px;
  display: flex;
  align-items: center;
  width: 273px;
  height: 109px;
  flex-shrink: 0;
}
.heading33 {
  position: absolute;
  top: 40px;
  left: 0;
  width: 273px;
  height: 109px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-7xl) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-lg);
}
.divframerUfpk7g {
  position: absolute;
  top: calc(50% + 56.27px);
  left: calc(50% - 140px);
  width: 350px;
  height: 124px;
}
.divframerF95jnu,
.rkd0317mcnsc30xo4oundy1uc4pngIcon {
  position: absolute;
  border-radius: var(--br-xl);
  overflow: hidden;
}
.rkd0317mcnsc30xo4oundy1uc4pngIcon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.divframerF95jnu {
  top: calc(50% - 251.73px);
  left: calc(50% - 140px);
  width: 280px;
  height: 280px;
  opacity: 0.58;
}
.divframer2wtj6u {
  position: absolute;
  width: calc(100% + 30px);
  top: calc(50% - 735.5px);
  right: -15px;
  left: -15px;
  height: 504px;
  font-size: var(--font-size-xl);
}
.divframer1bdvr9z {
  position: absolute;
  top: calc(50% + 114px);
  left: calc(50% - 175px);
  width: 350px;
  height: 152px;
}
.unlockLimitlessOpportunitiesContainer {
  position: relative;
  line-height: 28px;
}
.heading23,
.heading34 {
  position: absolute;
  display: flex;
}
.heading34 {
  top: 305.27px;
  left: 35px;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-31xl) var(--padding-0)
    var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
}
.heading23 {
  top: 266.27px;
  left: 33px;
  font-size: var(--font-size-xl);
  letter-spacing: -0.5px;
  line-height: 30px;
  align-items: center;
  width: 233.04px;
  height: 22px;
}
.divframer195xxgr {
  position: absolute;
  top: calc(50% - 311.73px);
  left: calc(50% - 140px);
  border-radius: var(--br-xl);
  width: 280px;
  height: 280px;
  overflow: hidden;
  opacity: 0.6;
}
.divframer1n6g3v9 {
  position: absolute;
  width: calc(100% + 30px);
  top: calc(50% - 191.5px);
  right: -15px;
  left: -15px;
  height: 532px;
}
.divframerB5qmn {
  position: absolute;
  top: calc(50% + 128px);
  left: calc(50% - 175px);
  width: 350px;
  height: 124px;
}
.learnFromExperts {
  position: relative;
  line-height: 28px;
  display: flex;
  align-items: center;
  width: 276px;
  flex-shrink: 0;
}
.heading24,
.heading35 {
  position: absolute;
  display: flex;
}
.heading35 {
  top: 241.73px;
  left: 34px;
  width: 276px;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-2xs) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading24 {
  top: 201.27px;
  left: 33px;
  font-size: var(--font-size-xl);
  letter-spacing: -0.5px;
  line-height: 30px;
  align-items: center;
  width: 155.65px;
  height: 22px;
}
.divframerM8tyzb {
  position: absolute;
  width: calc(100% - 12px);
  top: calc(50% + 380.77px);
  right: 27px;
  left: -15px;
  height: 364px;
}
.divframerH9016g {
  position: absolute;
  top: calc(50% + 264.77px);
  left: calc(50% - 140px);
  border-radius: var(--br-xl);
  width: 280px;
  height: 280px;
  overflow: hidden;
  opacity: 0.52;
}
.divframerIfoed5 {
  position: absolute;
  top: 2886px;
  left: calc(50% - 160px);
  background-color: var(--color-skyblue);
  width: 320px;
  height: 1507px;
  overflow: hidden;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-archivo);
}
.divframer1qq6lrn,
.explore {
  position: absolute;
  left: 0;
  display: flex;
}
.explore {
  top: 3px;
  letter-spacing: -0.4px;
  line-height: 24px;
  align-items: center;
  width: 56.91px;
  height: 17px;
}
.divframer1qq6lrn {
  top: 39px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  color: var(--color-aquamarine);
}
.divframer1qxg16 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 131px;
}
.company {
  position: absolute;
  top: 3px;
  left: 0;
  letter-spacing: -0.4px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 70.81px;
  height: 17px;
}
.divframerHejsyf {
  position: absolute;
  width: 100%;
  top: 171px;
  right: 0;
  left: 0;
  height: 131px;
}
.legal {
  position: absolute;
  top: 3px;
  left: 0;
  letter-spacing: -0.4px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 40.52px;
  height: 17px;
}
.divframer1fsrbvm {
  position: absolute;
  width: 100%;
  top: 342px;
  right: 0;
  left: 0;
  height: 131px;
}
.divframer2a86q1 {
  position: absolute;
  top: calc(50% - 298.5px);
  left: calc(50% - 134px);
  width: 350px;
  height: 473px;
}
.hygieiaFoundationAll {
  position: absolute;
  top: 3.27px;
  left: 30px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 205px;
  height: 44px;
}
.divframer19z5w59 {
  position: absolute;
  top: calc(50% + 204.5px);
  left: calc(50% - 175px);
  width: 350px;
  height: 64px;
  color: var(--color-aquamarine);
}
.divframer19w3k9nIcon {
  position: relative;
  width: 20px;
  height: 20px;
}
.divframerBfl1x7 {
  position: absolute;
  top: 607px;
  left: 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.pseudo {
  position: absolute;
  top: 0;
  left: 0;
  border-top: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 390px;
  height: 677px;
}
.footer,
.miniphone {
  background-color: var(--color-black);
}
.footer {
  position: absolute;
  top: 4393px;
  left: calc(50% - 189px);
  width: 390px;
  height: 677px;
  font-size: var(--font-size-base);
  color: var(--color-paleturquoise-200);
  font-family: var(--font-archivo);
}
.miniphone {
  position: relative;
  width: 100%;
  height: 5130px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xs);
  color: var(--color-white);
  font-family: var(--font-inter);
}
