.znv0bqwznem81muxx9hbbsnxuyipnIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  opacity: 0.5;
}
.divframerHt7xcv {
  position: absolute;
  top: 118px;
  right: 50px;
  width: 600px;
  height: 600px;
  overflow: hidden;
}
.introducingHygieia {
  margin: 0;
}
.introducingHygieiaPoweringContainer {
  position: relative;
  line-height: 70.4px;
  font-weight: 800;
}
.heading1 {
  position: absolute;
  top: 487.83px;
  left: 50px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 231px 0.1699981689453125px var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 63px;
}
.frameIcon {
  position: absolute;
  top: 5px;
  left: calc(50% - 23px);
  width: 26px;
  height: 26px;
}
.more {
  position: absolute;
  top: 2px;
  left: 0;
  line-height: 25.6px;
  font-weight: 500;
}
.moreDropdown {
  position: absolute;
  top: 68px;
  left: 860px;
  width: 164px;
  height: 35px;
}
.frameIcon1 {
  position: absolute;
  top: 5px;
  left: calc(50% + 50px);
  width: 26px;
  height: 26px;
}
.communityDropdown {
  position: absolute;
  top: 68px;
  left: 674px;
  width: 164px;
  height: 35px;
}
.frameIcon2 {
  position: absolute;
  top: 5px;
  left: calc(50% + 36px);
  width: 26px;
  height: 26px;
}
.enterpriseDropdown {
  position: absolute;
  top: 68px;
  left: 504px;
  width: 164px;
  height: 35px;
}
.frameIcon3 {
  position: absolute;
  top: 5px;
  left: calc(50% + 48px);
  width: 26px;
  height: 26px;
}
.developersDropdown {
  position: absolute;
  top: 68px;
  left: 322px;
  width: 164px;
  height: 35px;
}
.frameIcon4 {
  position: absolute;
  top: 5px;
  left: calc(50% + 4px);
  width: 26px;
  height: 26px;
}
.hygieiaDropdown {
  position: absolute;
  top: 68px;
  left: 184px;
  width: 164px;
  height: 35px;
}
.outputOnlinepngtools20230 {
  position: absolute;
  top: 27px;
  left: 17px;
  width: 147px;
  height: 129px;
  object-fit: cover;
}
.divframer64f1t2 {
  position: absolute;
  top: 0;
  left: calc(50% - 512px);
  background: linear-gradient(52deg, #cfbaf0, #000);
  width: 1024px;
  height: 800px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
  font-family: var(--font-inter);
}
.pmmvryu8f044fki424pttrbespngIcon,
.xpiwrtlavamppkkjn1i85tceepngIcon,
.zfgrpcbda1d4rifwbndnwstrapngIcon {
  position: absolute;
  height: calc(100% - 514.38px);
  width: calc(100% - 424px);
  top: 153px;
  right: 1px;
  bottom: 361.38px;
  left: 423px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.xpiwrtlavamppkkjn1i85tceepngIcon,
.zfgrpcbda1d4rifwbndnwstrapngIcon {
  height: calc(100% - 602.91px);
  width: calc(100% - 501px);
  top: 0;
  right: 501px;
  bottom: 602.91px;
  left: 0;
  opacity: 0.8;
}
.zfgrpcbda1d4rifwbndnwstrapngIcon {
  height: calc(100% - 855.47px);
  width: calc(100% - 558px);
  top: 451.47px;
  right: 558px;
  bottom: 404px;
}
.welcome {
  position: absolute;
  top: 653.38px;
  left: 0;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 66.59px;
  height: 17px;
}
.hygieiaIsTheContainer {
  position: relative;
  line-height: 60px;
  font-weight: 800;
}
.heading2 {
  position: absolute;
  top: 714.38px;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-21xl) var(--padding-0)
    var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-31xl);
  color: var(--color-paleturquoise-200);
  font-family: var(--font-inter);
}
.divframerNqncs7 {
  position: absolute;
  top: 50px;
  left: calc(50% - 462px);
  width: 924px;
  height: 1014.38px;
}
.divframer1symrmf {
  position: absolute;
  top: 800px;
  left: calc(50% - 512px);
  background-color: var(--color-black);
  width: 1024px;
  height: 1114.38px;
  color: var(--color-skyblue);
}
.divframerL4fk58,
.kicah3yvwogvowj0vwwvb2l6evopnIcon {
  position: absolute;
  border-radius: var(--br-11xl);
  overflow: hidden;
}
.kicah3yvwogvowj0vwwvb2l6evopnIcon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.divframerL4fk58 {
  top: calc(50% - 220.4px);
  left: calc(50% - 462px);
  background-color: var(--color-gray-500);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  width: 432px;
  height: 440.81px;
  opacity: 0.69;
}
.revolutionizeYourProtocolsContainer {
  position: relative;
  line-height: 38.4px;
  font-weight: 800;
}
.heading3 {
  position: absolute;
  top: -1px;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-51xl) 0.1699981689453125px
    var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
}
.leverageTheFullContainer {
  position: relative;
  line-height: 24px;
}
.heading31 {
  position: absolute;
  top: 135.17px;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-mini) var(--padding-0)
    var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-base);
  font-family: var(--font-archivo);
}
.divframer19un3sn {
  position: absolute;
  top: calc(50% - 103.6px);
  left: calc(50% + 30px);
  width: 432px;
  height: 207.17px;
  overflow: hidden;
}
.divframerTcnceu {
  position: absolute;
  top: 50px;
  left: calc(50% - 462px);
  width: 924px;
  height: 440.81px;
  overflow: hidden;
}
.heading32,
.heading33 {
  position: absolute;
  top: -1px;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-0) 0.779998779296875px;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading33 {
  top: 96.78px;
  padding: var(--padding-0) var(--padding-35xl) var(--padding-0)
    var(--padding-0);
  font-size: var(--font-size-base);
  font-family: var(--font-archivo);
}
.divframer1r4ux0k,
.divframerFfcig2 {
  position: absolute;
  top: calc(50% - 84.4px);
  left: calc(50% - 462px);
  width: 432px;
  height: 168.78px;
  overflow: hidden;
}
.divframerFfcig2 {
  top: calc(50% - 220.4px);
  left: calc(50% + 30px);
  border-radius: var(--br-11xl);
  height: 440.81px;
  opacity: 0.69;
}
.divframer1gv355n,
.divframer1zv4rq {
  position: absolute;
  top: 530.81px;
  left: calc(50% - 462px);
  width: 924px;
  height: 440.81px;
  overflow: hidden;
}
.divframer1gv355n {
  top: 1914.38px;
  left: calc(50% - 512px);
  background-color: var(--color-black);
  width: 1024px;
  height: 1021.63px;
  font-size: var(--font-size-13xl);
  font-family: var(--font-inter);
}
.dapps,
.heading21 {
  position: absolute;
  left: 0;
  display: flex;
}
.dapps {
  top: 3px;
  line-height: 24px;
  align-items: center;
  width: 48.97px;
  height: 17px;
}
.heading21 {
  top: 64px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-31xl);
  color: var(--color-thistle-100);
  font-family: var(--font-inter);
}
.divframer133krgw {
  position: absolute;
  top: 50px;
  left: calc(50% - 462px);
  width: 924px;
  height: 424px;
}
.v8utg2j1g7ry8svbjcgip9qwu7spnIcon {
  position: absolute;
  height: calc(100% - 101px);
  width: calc(100% - 601px);
  top: 62px;
  right: -16px;
  bottom: 39px;
  left: 617px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.divframerDk2p3z {
  position: absolute;
  top: 2936px;
  left: calc(50% - 512px);
  background-color: var(--color-black);
  width: 1024px;
  height: 524px;
  color: var(--color-lemonchiffon);
}
.divframerF95jnu {
  position: absolute;
  top: calc(50% - 231.66px);
  left: calc(50% - 140.66px);
  border-radius: var(--br-11xl);
  width: 281.33px;
  height: 281.33px;
  overflow: hidden;
  opacity: 0.58;
}
.heading22 {
  position: absolute;
  top: 4px;
  left: 0;
  letter-spacing: -0.5px;
  line-height: 30px;
  display: flex;
  align-items: center;
  width: 123.97px;
  height: 22px;
}
.empowerYourProjectsContainer {
  position: relative;
  line-height: 28px;
}
.heading34 {
  position: absolute;
  top: 40px;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 4.329986572265625px var(--padding-0)
    var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
}
.divframerUfpk7g {
  position: absolute;
  top: calc(50% + 79.66px);
  left: calc(50% - 140.66px);
  width: 281.33px;
  height: 152px;
}
.divframer2wtj6u {
  position: absolute;
  top: 0;
  left: calc(50% - 462px);
  width: 281.33px;
  height: 463.33px;
}
.divframer195xxgr {
  position: absolute;
  top: calc(50% - 231.66px);
  left: calc(50% - 140.66px);
  border-radius: var(--br-11xl);
  width: 281.33px;
  height: 281.33px;
  overflow: hidden;
  opacity: 0.6;
}
.heading23,
.heading35 {
  position: absolute;
  left: 0;
  display: flex;
}
.heading23 {
  top: 4px;
  letter-spacing: -0.5px;
  line-height: 30px;
  align-items: center;
  width: 233.04px;
  height: 22px;
}
.heading35 {
  top: 40px;
  flex-direction: row;
  padding: var(--padding-0) 17.329986572265625px var(--padding-0)
    var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
}
.divframer1n6g3v9 {
  position: absolute;
  top: 0;
  left: calc(50% - 140.67px);
  width: 281.33px;
  height: 463.33px;
}
.divframerH9016g {
  position: absolute;
  top: calc(50% - 231.66px);
  left: calc(50% - 140.66px);
  border-radius: var(--br-11xl);
  width: 281.33px;
  height: 281.33px;
  overflow: hidden;
  opacity: 0.52;
}
.heading24,
.heading36 {
  position: absolute;
  left: 0;
  display: flex;
}
.heading24 {
  top: 4px;
  letter-spacing: -0.5px;
  line-height: 30px;
  align-items: center;
  width: 155.65px;
  height: 22px;
}
.heading36 {
  top: 40px;
  flex-direction: row;
  padding: var(--padding-0) 5.329986572265625px var(--padding-0)
    var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
}
.divframerM8tyzb {
  position: absolute;
  top: 0;
  left: calc(50% + 180.66px);
  width: 281.33px;
  height: 463.33px;
}
.divframerH1r706 {
  position: absolute;
  top: calc(50% - 231.67px);
  left: calc(50% - 462px);
  width: 924px;
  height: 463.33px;
  overflow: hidden;
}
.divframerIfoed5 {
  position: absolute;
  top: 3460px;
  left: calc(50% - 512px);
  background-color: var(--color-skyblue);
  width: 1024px;
  height: 563.33px;
  overflow: hidden;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.divframer1qq6lrn,
.explore {
  position: absolute;
  left: 0;
  display: flex;
}
.explore {
  top: 3px;
  letter-spacing: -0.4px;
  line-height: 24px;
  align-items: center;
  width: 56.91px;
  height: 17px;
}
.divframer1qq6lrn {
  top: 39px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  color: var(--color-aquamarine);
}
.company,
.divframer1qxg16 {
  position: absolute;
  top: 0;
  left: 0;
  width: 281.33px;
  height: 131px;
}
.company {
  top: 3px;
  letter-spacing: -0.4px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 70.81px;
  height: 17px;
}
.divframerHejsyf,
.legal {
  position: absolute;
  top: 0;
  left: 321.33px;
  width: 281.33px;
  height: 131px;
}
.legal {
  top: 3px;
  left: 0;
  letter-spacing: -0.4px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 40.52px;
  height: 17px;
}
.divframer1fsrbvm {
  position: absolute;
  top: 0;
  left: 642.66px;
  width: 281.33px;
  height: 131px;
}
.divframer2a86q1 {
  position: absolute;
  top: calc(50% - 107.5px);
  left: calc(50% - 462px);
  width: 924px;
  height: 131px;
}
.hygieiaFoundationAll {
  position: absolute;
  top: 3px;
  left: 0;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 331.68px;
  height: 17px;
}
.divframer19w3k9nIcon {
  position: relative;
  width: 20px;
  height: 20px;
}
.divframerBfl1x7 {
  position: absolute;
  top: calc(50% - 10px);
  left: 874px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.divframer19z5w59 {
  position: absolute;
  top: calc(50% + 83.5px);
  left: calc(50% - 462px);
  width: 924px;
  height: 24px;
  color: var(--color-aquamarine);
}
.pseudo {
  position: absolute;
  top: 0;
  left: 0;
  border-top: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 1024px;
  height: 315px;
}
.footer,
.tablet {
  background-color: var(--color-black);
}
.footer {
  position: absolute;
  top: 4023.33px;
  left: calc(50% - 512px);
  width: 1024px;
  height: 315px;
  color: var(--color-paleturquoise-200);
}
.tablet {
  position: relative;
  width: 100%;
  height: 4338.33px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-archivo);
}
